uvicorn[standard]
sqlmodel
psycopg[binary]
python-multipart
email-validator
passlib[bcrypt]
tenacity
pydantic
emails
gunicorn
jinja2
alembic
python-jose[cryptography]
httpx
bcrypt
pydantic-settings
sentry-sdk[fastapi]
aiokafka
psycopg2
langchain
langchain-google-genai
python-dotenv
